################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/api.yilive.com/bin/Debug/netcoreapp2.2
/YiLive/obj/Debug/netcoreapp2.2
/YiLive/bin/Debug/netcoreapp2.2
/.vs
/api.yilive.com/obj
/YiLive/obj